
.home {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
    text-shadow: 1px 1px 5px #625555;
    height: 90vh;
}

.homeTitle {
    font-size: 55px;
    line-height: 4rem;
    text-align: center;
    padding: 5px;
}

.homeDescription {
    text-align: center;
    font-size: 26px;
    padding: 5px;
}

.homeButton {
    margin-top: 20px;
    margin-left: 30%;
    height: 50px;
    width: 40%;
    font-size: 27px;
    border: 1px solid #ab5301da;
    border-radius: 3px;
    background-color: #ab5301da;
    color: white;
    box-shadow: 1px 1px 10px #625555;
}

.homeButton:hover {
    border: 1px solid white;
    background-color: white;
    color: #ab5301da;
    transition: all ease .3s;
    box-shadow: 1px 1px 10px #625555;
    font-weight: bolder;
    cursor: pointer;
}

@media (min-width: 377px) and (max-width: 426px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
        gap: 5rem;
    }

    .homeDescription {
        display: none;
    }

    .homeButton {
        margin-top: 0;
        margin-left: 0;
        width: 60%;
        font-size: 30px;
        height: 8vh;
    }
}

@media (min-width: 321px) and (max-width: 376px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
        gap: 4rem;
    }
    
    .homeDescription {
        display: none;
    }

    .homeButton {
        margin: 0 0;
        width: 80%;
    }
}

@media (max-width: 320px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .1rem;
        width: 100vw;
        height: 100vh;
    }

    .homeTitle {
        display: flex;
        font-size: 40px;
        margin-bottom: 1rem;
    }

    .homeDescription {
        font-size: 25px;
    }

    .homeButton {
        width: 85vw;
        margin-left: 0;
    }
}
