
#Footer-contain {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20rem;
    background: url(../../Img/backgroundInfo.png);
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0%;
    width: 100%;
    border-top: 5px solid #ab530180;
}

.footerLinks a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    padding: 1px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.footerTitle{
    font-size: 19px;
}


.redes-sociales-footer{
    padding: 10px;
    gap: 1rem;
    display: flex;
    font-size: 20px;
}


@media (max-width: 320px) {
    #Footer-contain {
        width: 1px;
    }
}