
#Footer-contain {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20rem;
    background: url(../../Img/backgroundInfo.png);
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0%;
    width: 100%;
    border-top: 5px solid #ab530180;
}

.footerLinks a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    padding: 1px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.footerTitle{
    font-size: 19px;
}


.redes-sociales-footer{
    padding: 10px;
    gap: 1rem;
    display: flex;
    font-size: 20px;
}

@media (max-width: 1440px) {
    #Footer-contain {
        gap: 25rem;
    }

    .footerLinks {
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .footerLinks h4 {
        font-size: 30px;
    }

    .footerLinks a {
        font-size: 25px;
    }

    .footerLinks p {
        font-size: 25px;
    }

    .footerLinks img {
        height: 33px;
    }

    .footerPhone {
        display: flex;
        gap: 1rem;
        width: 60%;
        align-items: center;
    }

    .footerEmail {
        display: flex;
        gap: 1rem;
        width: 60%;
        align-items: center;
    }

    .footerLocation {
        display: flex;
        gap: 1rem;
        width: 60%;
        align-items: center;
    }
}

@media (min-width: 770px) and (max-width: 1024px) {
    #Footer-contain {
        gap: 20rem;
    }

    .footerLinks {
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .footerLinks h4 {
        font-size: 28px;
    }

    .footerLinks a {
        font-size: 20px;
    }

    .footerLinks p {
        font-size: 20px;
    }

    .footerLinks img {
        height: 33px;
    }

    .footerPhone {
        display: flex;
        gap: 1rem;
        width: 60%;
        align-items: center;
    }

    .footerEmail {
        display: flex;
        gap: 1rem;
        width: 60%;
        align-items: center;
    }

    .footerLocation {
        display: flex;
        gap: 1rem;
        width: 60%;
        align-items: center;
    }
}

@media (min-width: 427px) and (max-width: 769px) {
    #Footer-contain {
        gap: 10rem;
    }

    .footerLinks {
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .footerLinks h4 {
        font-size: 28px;
    }

    .footerLinks a {
        font-size: 20px;
    }

    .footerLinks p {
        font-size: 20px;
    }

    .footerLinks img {
        height: 33px;
    }

    .footerPhone {
        display: flex;
        gap: 1rem;
        width: 60%;
        align-items: center;
    }

    .footerEmail {
        display: flex;
        gap: 1rem;
        width: 60%;
        align-items: center;
    }

    .footerLocation {
        display: flex;
        gap: 1rem;
        width: 60%;
        align-items: center;
    }
}

@media (min-width: 377px) and (max-width: 426px) {
    #Footer-contain {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        text-align: center;
    }

    .footerLinks {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 20px;
        font-size: 30px;
    }

    .footerTitle {
        font-size: 30px;
    }

    .footerLinks a {
        font-size: 26px;
    }

    .footerLinks img {
        height: 35px;
    }

    .footerPhone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerEmail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerLocation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}


@media (min-width: 321px) and (max-width: 376px) {
    #Footer-contain {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        text-align: center;
    }

    .footerLinks {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 20px;
        font-size: 26px;
    }

    .footerTitle {
        font-size: 30px;
    }

    .footerLinks a {
        font-size: 26px;
    }

    .footerLinks img {
        height: 35px;
    }

    .footerPhone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerEmail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerLocation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 320px) {
    #Footer-contain {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .footerLinks {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        margin: 20px;
    }

    .footerTitle {
        font-size: 30px;
    }

    .footerLinks img {
        height: 50px;
    }

    .footerLinks p {
        text-align: center;
        font-size: 25px;
    }

    .footerLinks a {
        font-size: 25px;
    }

    .footerPhone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerEmail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerLocation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}