#mainTeam {
    height: 100vh;
    background: url(../../Img/backgroundInfo.png);
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    border-top: 5px solid #ab530180;
}

.teamMain {
    background: rgba(255, 255, 255, 0.045); /*#625555 #ab530196 */
    height: 30rem;
    width: 100%;
    border-radius: 5px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    box-shadow: 2px 2px 10px #625555;
}

.teamText h3 {
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    text-shadow: 1px 1px 5px #625555;
}

.teamAdmin {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    text-shadow: 1px 1px 5px #625555;
    width: 100%;
    border-left: 2px solid #ab530180;
    border-right: 2px solid #ab530180;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #625555;
    margin: 1rem;
    padding: .5rem;
}

.admin:hover {
    transform: scale(1.03);
    transition: all ease .3s;
    background-color: #ab530180;
    color: white;
    border: none;
    border-radius: 3px;
    text-shadow: 1px 1px 5px #625555;
}

.admin img {
    height: 150px;
    width: 150px;
    color: white;
}

.teamDesc p {
    margin-top: 1rem;
    font-size: 20px;
    text-shadow: 1px 1px 5px #625555;
    padding: 1rem;
    text-align: center;
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .teamMain {
        height: 80vh;
    }

    .admin {
        height: 45vh;
    }

    .admin img {
        height: 120px;
    }

    .admin h4 {
        font-size: 28px;
    }

    .admin p {
        font-size: 20px;
    }

    .teamDesc p {
        font-size: 25px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .teamMain {
        height: 88vh;
    }

    .teamText h3 {
        margin: 0;
        text-align: center;
        font-size: 35px;
    }

    .admin {
        height: 50vh;
    }

    .admin img {
        height: 100px;
    }

    .admin h4 {
        font-size: 25px;
    }

    .admin p {
        font-size: 20px;
    }

    .teamDesc p {
        font-size: 23px;
    }
}

@media (min-width: 427px) and (max-width: 768px) {
    .teamMain {
        height: 90vh;
    }

    .teamText h3 {
        margin: 0;
        text-align: center;
        font-size: 35px;
    }

    .teamAdmin {
        flex-direction: column;
        margin-top: 0;
        gap: .3rem;
        width: 75vw;
    }

    .admin img {
        height: 70px;
    }

    .admin h4 {
        font-size: 25px;
    }

    .admin p {
        font-size: 20px;
    }

    .teamDesc p {
        display: none;
    }
}

@media (min-width: 377px) and (max-width: 426px) {
    .teamMain {
        height: 95vh;
    }

    .teamText h3 {
        margin: 0;
        text-align: center;
        font-size: 35px;
    }

    .teamAdmin {
        flex-direction: column;
        margin-top: 0;
        gap: .3rem;
    }

    .admin {
        width: 70vw;
        gap: .3rem;
    }

    .admin h4 {
        font-size: 30px;
        font-weight: 400;
        text-shadow: 0 0;
    }

    .admin p {
        display: none;
    }

    .teamDesc p {
        display: none;
    }
}

@media (min-width: 321px) and (max-width: 376px) {
    .teamMain {
        height: 95vh;
    }

    .teamAdmin {
        flex-direction: column;
        width: 70vw;
        gap: 0;
        margin-top: 0;
    }

    .teamText h3 {
        text-align: center;
        margin-left: 0;
        font-size: 35px;
        margin-top: 5px;
    }

    .admin{
        height: 25vh;
    }

    .admin h4 {
        font-size: 30px;
        font-weight: 400;
        text-shadow: 0 0;
    }

    .admin p {
        display: none;
    }

    .teamDesc p {
        display: none;
    }
}

@media (max-width: 320px) {

    .teamMain {
        width: 100%;
        height: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .teamAdmin {
        width: 87%;
        flex-direction: column;
    }

    .teamText h3 {
        width: 80vw;
        margin-left: 0px;
    }

    .teamText {
        text-align: center;
    }

    .admin p {
        display: none;
    }

    .teamDesc p {
        display: none;
    }

    .admin {
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .admin h4 {
        font-size: 25px;
        font-weight: 400;
        text-shadow: 0 0 0;
    }
}